*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 70vh; */
    background-color: rgb(112, 213, 207);
}
#header{
    align-items: center;
    margin-left: 2rem;
    font-style: italic;
}
#main{
    height: 10vh;
    width: 20vh;
    display: flex;
    border-radius: 5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin: auto;

}

.container{
    background-color: rgb(245, 253, 252);
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}
form{
    margin: 2rem 0 1rem 0;
}

form select, button, input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightcoral;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i{
    margin-top: 1rem;
    font-size: 1.5rem;
}
.select-container img{
    max-width: 2rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    border-radius: 0.5rem;
    border: 1px solid lightcoral;
}
.select-container select{
    width: auto;
    font-size: 1rem;
}

.msg{
    margin: 2rem 0 2rem 0; 
    text-align: center;
    font-style: italic;
}

#btn{
    height: 3rem;
    background-color: antiquewhite;
    font-size: 1rem;
    cursor: pointer;
}